[Unit]
Description=Run wg0 watchdog Script Every 2 Minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=watchdog-wg0.service

[Install]
WantedBy=timers.target
