[Unit]
Description=wireguard wg0 service
After=network-online.target

[Service]
ExecStart=bash /usr/bin/wireguard-wg0.sh
User=root
Group=root
Environment="PEER_PUBKEY=xyzdt34/GVmHkpjU9Jpz9/BEdx9aNjTpba9fTvcUgs=" "PEER_ENDPOINT=wg.mydomain.cn:21008" "WG_INTERFACE=wg0"
WorkingDirectory=/usr/bin/
StandardOutput=append:/var/log/wireguard-wg0.log

[Install]
WantedBy=multi-user.target
